@page
@using Infrastructure.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>...</p>
    <h3>@Model.someInfo</h3>
    <h2>@Model.moreInfo</h2>
    
    @if (Model.authors != null && Model.authors.Count() != 0)
    {
        @foreach (var a in Model.authors)
        {
            <p>Name: @a.Name</p>
            <div>----</div>
        }
    }
    else
    {
        <p>The list is empty.</p>
    }

</div>